<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <div><a href="/"><h1>Visual Notions</a></h1></div>
    <ul>
    {{#each routes}}
      <li>{{name}}</li>
      <li>
        <ul>
        {{#each pages}}
          <li><a href="/{{../name}}/{{this}}">{{this}}</a></li>
        {{/each}}
        </ul>
      </li>
    {{/each}}
    </ul>
    {{{body}}}
  </body>
</html>