<html lang="en">
  <head>
    <title>{{pageTitle}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="/css-reset.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    {{{livereload-if-needed}}}
    <style>
      {{{imp "css"}}}
    </style>
  </head>
  <body>
    <div id="root">
      <div id="left-panel">
        <div id="logo"><a href="/"><h1>VisualNotions.com</a></h1></div>
        <ul id="nav">
        {{#each routes}}
          <li class="route">
            <a class="route-name">{{name}}</a>
            <ul>
            {{#each pages}}
              <li><a class="route-page-link" href="/{{../slag}}/{{this.slag}}">{{this.name}}</a></li>
            {{/each}}
            </ul>
          </li>
        {{/each}}
        </ul>
      </div>
      <div id="route-content">
        <div id="route-content-inner">
          {{{body}}}
        </div>
      </div>
    </div>
    <script>
      function recalculateAndSetContentInnerRatio() {
        const elem = document.getElementById('route-content-inner');

        if (window.innerWidth < 850) {
          elem.style.scale = 1;
          return;
        }

        const ratioWidth = window.innerWidth / elem.clientWidth;
        const ratioHeight = window.innerHeight / elem.clientHeight;

        const scale = Math.min(ratioWidth, ratioHeight) - 0.1;

        if (scale > 1) {
          elem.style.scale = scale;
        }
      }
      document.addEventListener('DOMContentLoaded', () => {
        recalculateAndSetContentInnerRatio();
        window.addEventListener('resize', recalculateAndSetContentInnerRatio);
      });
    </script>
    <script>
      {{{imp "js"}}}
    </script>
  </body>
</html>